{% if section.settings['lumni-editor'] == 'enable' %}
  <div>
    <div class="tld-container">
      <div class="tld-grid tld-grid-cols-12 tld-py-10">
        <div class="tld-col-span-12 md:tld-col-span-4 lg:tld-col-span-3 tld-flex tld-items-center tld-mx-auto md:tld-mx-0 ">
          <p class=" tld-text-black tld-text-[25px] tld-flex tld-items-center sm:tld-gap-5 md:tld-gap-10  ">Celebrated By Editors <span class="tld-bg-black tld-block tld-w-[1px] tld-h-16 xs:tld-hidden sm:tld-hidden md:tld-block">  </span> </p>
        </div>
        <div class="tld-col-span-12 md:tld-col-span-8 lg:tld-col-span-9 xs:tld-mt-10 sm:tld-m-10 md:mt-0">
            <img src="{{ 'editor.png' | asset_url }}" width="841.21" height="52.76" alt="Flower" >
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Lumni Editor Section",
  "tag": "section",
  "class": "Lumni-editor-section",
  "settings": [
    {
      "type": "radio",
      "id": "lumni-editor",
      "label": "Lumni Editor",
      "options": [
        {
          "value": "enable",
          "label": "Enable"
        },
        {
          "value": "disbaled",
          "label": "Disbaled"
        }
      ],
      "default": "enable"
    }
  ],
  "presets": [
    {
        "name": "Lumni Editor Section"
    }
  ]
}
{% endschema %}
