<div class="tld-bg-[#F8F8F6] tld-py-[90px]">
    <div class="tld-container">
        <div>
            <h2 class="tld-text-[40px] tld-text-center">{{ section.settings.lumni-collection-product-title }}</h2>
        </div>
        <div>
           
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Lumni Collection Products",
    "tag": "section",
    "class": "lumni-collection-products",
    "settings": [
        {
            "type": "text",
            "id": "lumni-collection-product-title",
            "label": "Lumni Collection Title",
            "default":"Clinical Grade Microneedling serums",
        },
        {
            "type": "collection",
            "id": "lumni-collection-products",
            "label": "Lumni Collection products",
        },
    ],
    "presets": [
        {
            "name": "Lumni Collection Products"
        }
    ]
}
{% endschema %}