div#ImageWithText--template--23080367817025__image_with_text_QaUEr6 h2.image-with-text__heading.inline-richtext.h1 {
    border-bottom: 2px dashed #707070;
    padding-bottom: 2rem;
}
.section-template--23080367817025__image_with_text_qY4n4J-padding.gradient.color-scheme-1 .image-with-text__media.image-with-text__media--small.global-media-settings.background-transparent.media img {
    object-fit: contain;
}
/* #shopify-section-template--23080367817025__image_with_text_qY4n4J div.image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--bottom.grid__item > div > img {
    object-fit: contain;
} */

.section-template--23080367817025__image_with_text_QaUEr6-padding.gradient.color-scheme-1 .image-with-text__media.image-with-text__media--adapt.global-media-settings.background-transparent.media {
    border: unset;
}
.page-width.section-template--23080367817025__multicolumn_rhRtd4-padding.isolate.scroll-trigger.animate--slide-in .multicolumn-card__info .rte li {
    list-style: url(https://cdn.shopify.com/s/files/1/0886/7781/0497/files/Path_63.svg?v=1722367346);
}'
div#ImageWithText--template--23080367817025__image_with_text_QaUEr6
  h2.image-with-text__heading.inline-richtext.h1 {
  border-bottom: 2px dashed #707070;
  padding-bottom: 2rem;
}
.image-with-text__media.image-with-text__media--adapt.global-media-settings.background-transparent.media {
  border: unset;
}